---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Baselayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Whenever";

const identity = {
  firstName: "Andrew",
  country: "United States",
  occupation: "Semi-Employed Creative Vagrant",
  hobbies: ["Wasting time", "Making Websites twice", "Being hot"],
};

const skills = ["Losing bets", "Making bets", "Gambling addiction counseling"];

const skillColor = "navy";
---

<Baselayout pageTitle={pageTitle} />
<body>
  <Header />
  <h1>{pageTitle}</h1>
  <p>If this would work, I'd be so fucking happy?</p>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.country} and I work as a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <Footer />
  <script>
    import "../scripts/menu.js";
  </script>
  <style define:vars={{ skillColor }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: bold;
    }
  </style>
</body>
